*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #301934;
}



.backbone{
    justify-content: center;
    align-items: center;
}

.header{
    color: #FFA7A6;
    margin: auto;
    width: 96%;
    height: 18vh;
    background-color: #9d59b8 ;
    border-radius: 20px; 
    font-family: 'Neucha';
    font-size: 3em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.container{
    width: 96%;
    height: 56vh;
    margin: auto;
    background-color: #30d5c8;
    border-radius: 20px; 
    margin-top:1%;
    display: block;
    text-align: center;
    
}

.footer{
    color: #FFA7A6;
    margin: auto;
    width: 96%;
    height: 18vh;
    background-color: #9d59b8 ;
    border-radius: 20px; 
    font-family: 'Neucha';
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1%;
}

.playlist, .po, .beginning, .photos, .gestures{
    font-family: 'Neucha';
    font-size:2.7em;    
    padding-top: 1.3%;
    padding-bottom: 1.3%;
  }

  a{
    color: #ffff81;
    text-decoration: none;
  }

  a:hover{
    text-decoration: none;
    color: deeppink;
    transition: 0.5s;
  }